/* Give the main header an underline. */
h1 {
  padding-bottom: 21px;
  margin-bottom: 21px;
  border-bottom: 1px solid #DDD;
}

/* Make the inline code blocks look like the paragraph-level ones. */
*:not(pre) > code {
  color: #333;
  background-color: #FAFAFA;
  padding: 1px 3px;
  border: 1px solid #E8E8E8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
}

/* Don't double up on the border for inline code inside admonitions. */
.admonition code {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

/* Fix links containing inline code. */
a > code {
  color: #008CBA !important;
}

a > code:hover,
a > code:focus {
  color: #00526E !important;
}

/* Style the admonitions. */
.admonition {
  border: 1px solid #E8E8E8;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05) inset;
  background-color: #FAFAFA;
  padding: 8px;
  margin-bottom: 20px;
}

.admonition-title {
  font-weight: bold;
  float: left;
  margin-right: 1ch;
  margin-bottom: 0;
}

.admonition-title::after {
  content: ':';
}

.admonition p:last-child {
  margin-bottom: 0;
}